footer {
  position: absolute;
  bottom: 7vh;
}

.headerText {
  font: normal 8vw lacosta;
  color: #05204b;

  /*position*/
  position: fixed;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -65%);
}

.searchComponent {
  display: flex;

  border: thick double #05204b;
  padding: .75vh;

  /*sizing*/
  width: 45%;
  height: 5%;

  /*center div*/
  position: fixed;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -40%);
}

.searchBar {
  width: 80%;
  height: 100%;

  border: 0px;
  outline: none;

  font: normal 1.7vw allema;
  color: #05204b;
  letter-spacing: 0.1vw;

  caret-color: #05204b;
}
.searchBar::placeholder {
  padding-left: 0.2vw;
}

.searchButton {
  width: 20%;
  height: 114%;
  margin-top: -.36vh;
  font: normal 1.9vw lacosta;
  color: #ffffff;
  
  border: 1px solid #05204b;
  background-color: #05204b;

  transition: all 0.4s ease 0s;
}
.searchButton:hover {
  color: #ffffffd1;
  background-color: #05204bd1;
  border: 1px inset #05204b;
}